@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */

#tourscontent {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(3, auto);
    border: 1px solid #000;
    grid-gap: 20px;
}

.mytours {
    width: 100%;
    height: 200px;
    border: 1px solid #000;
}
    


}