@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

    .myList {
        display: block;
        float: left;
    }
    
    #btn {
        display: none;
    }
    
    #mymain {
        display: grid;
        grid-template-columns: ;
        border: 1px solid #000;
    }
    
    #tourscontent {
        display: grid;
        width: 100%;
        height: auto;
        border: 1px solid #000;
        grid-template-columns: auto;
        grid-gap: 20px;
    }

    .mytours {
        width: 100%;
        height: 200px;
        border: 1px solid #000;
    }
    
}