body {
    background: #e6e6e6;
    color: #004d1a;
    font-family: 'Source Sans Pro', sans-serif;
}
        
#mainHeader {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 1em;
    padding: 1em;
}

table th {
    background-color: black;
    color: white;
}

table tr:nth-child(even) {
    background-color: #a6a6a6;
}







